#admin-tabs-wrapper,
#admin-tabs-wrapper-toolbar-style
  position: absolute
  right: 0
  z-index: 999

#admin-tabs-wrapper
  top: 23px

#admin-tabs-wrapper-toolbar-style
  top: 35px


#admin-tabs-open
  background: url('../img/open-left.png') no-repeat scroll 0 0 transparent
  height: 26px
  width: 26px

/* copy of #admin-menu */

#admin-tabs, #admin-tabs ul
  line-height: 1.4em
  list-style: none outside none
  margin: 0
  padding: 0

#admin-tabs
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif
  font-size: 9px
  div.tabs, div.action-links
    background-color: #101010
    margin-bottom: 1px
  ul a
    color: #eeeeee
    background: none repeat scroll 0 0 transparent
    border: medium none
    display: block
    font-weight: normal
    padding: 4px 8px
    text-align: left
    text-decoration: none
  li
    background-image: none
    height: 100%
    list-style-image: none
    list-style-type: none
    margin: 0 !important
    padding: 0

